@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
    height: auto;
    min-height: 100vh;
    color: var(--color-text);
}

.title1 {
    background-color: #3c2e27;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    color: #eee4d0;
}

.contenedor {
    margin: 10px 40px 200px 10px;
    height: auto;
    display: grid;
    gap: 25px;
    /* background-color: aqua; */
    grid-auto-rows: 390px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) ;
    justify-content: center;
    align-content: start;
}

:root {
    --color-text: #ffffff;
    --color-text1: black;
}