.team {
  background-color: #eee4d0;
}
.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  height: 200px;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.container > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.home {
  opacity: 0.8;
}

.home:hover {
  opacity: 1;
}

@media (max-width: 850px) {
  .container {
    width: 100%;
  }

  .container > img {
    width: 100px;
    height: 100px;
  }
}
