.container{
    margin: auto;
    width: 60%;
}

.target{
    margin: 40px;
    border-radius: 80px 20px;
    background-color: #eee4d0b0;
}

.target > h2 {
    padding-top: 20px;
    
}

.target > p {
    padding: 20px;
}

.link_text{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
}
.link_text:hover{
    opacity: 1;
}

@media (max-width: 850px) {
    .container {
      width: 100%;
    }
  }