body{
    background-image: none;
    background-color: none;
    margin: 0;
    display: flex;
}

.contentGroup{
    /*  background-color: brown;  */ 
    min-width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBtn{
    /* background-color: cadetblue;   */
    height: 90%;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
    align-items: center;
    color: white;
}   

.btnNav{
    width: 120px;
    height: 40px;
    font-size: 1.0rem !important;
    background-color: var(--color-fondo4) !important;
    color: var(--color-text) !important;
}

.btnNav:hover{
    background-color: var(--color-fondo3) !important;
}

.btnNav2{
    width: 140px;
    height: 40px;
    font-size: 1.0rem !important;
    background-color: var(--color-fondo4) !important;
    color: var(--color-text) !important;
}

.btnNav2:hover{
    background-color: var(--color-fondo3) !important;
}

.btnMenu{
    width: 250px;
    height: 100px;
    font-size: 1.4rem !important;
    background-color: var(--color-fondo3) !important;
    color: var(--color-text) !important;
}

.btnMenu:hover{
    background-color: var(--color-fondo2) !important;
}


@media (max-width: 600px) {
    .contentGroup{
        height: 450px;
    }
    .contentBtn{
       grid-template-columns: 300px;
       grid-template-rows: auto auto;
       align-items: center;
       color: white;
    }
    .btnMenu{
        width: 200px;
        height: 80px;
        font-size: 1.0rem !important;
    } 
}

.secret{
    background-color: var(--color-fondo3) ;
    color: var(--color-fondo5);
    padding: 10px 10px;
}