body{
    background-image: none;
    background-color: none;
    margin: 0;
    display: flex;
}

.contentGroup{
    /* background-color: brown; */
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.contentBtn{
    /* background-color: cadetblue; */
    /* min-width: 100vw; */
    height: 260px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
}

.contentBtn{
    color: white;
}

.btnMenu{
    width: 200px;
}