a {
	text-decoration: none;
	color: black;
}

/* Estilos de la Card que muestra la info de un Product */

.card1 {
	margin: 10px;
	background-color: #eee4d0b0;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 260px;
}
.card1:hover {
	transform: scale(1.05);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.cardheader img {
	margin-top: 10px;
	width: 80%;
	height: 200px;
}
.cardbody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	min-height: 120px;
}
.cardCagegories{
	display: flex;
	justify-content:flex-start;
}
.tag {
	background: #45209b;
	border-radius: 50px;
	font-size: 12px;
	margin: 0;
	color: #fff;
	padding: 2px 10px;
	text-transform: uppercase;
}
.cardData1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.cardText {
	border: 1 solid black;
	/* background-color: blueviolet; */
	width: 100%;
	height: 80px;
	text-transform: uppercase;
	text-align: left;
	display: flex;
	justify-content:flex-start;
}