.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.input {
    display: block;
    font-size: 10px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 240px;
    max-width: 150%; 
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .input::-ms-expand {
    display: none;
  }
  .input:hover {
    border-color: #888;
  }
  .input:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px #aa926c;
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .input option {
    font-weight:normal;
  }

  .boton{
    width: 100px;
    height: 20px;
    text-decoration: none;
    padding: 3px;
    font-weight: 80;
    font-size: 11px;
    color: #ffffff;
    background-color: #CFA67C;
    border-radius: 6px;
    border: 1px solid #A05D31;
    opacity: 0.8;
}
  
  .boton:hover{
    opacity: 1;
  }

    @media (max-width: 850px) {
      .searchBar{
        margin-left: 10px;
        margin-right: 10px;
    } 
    } 

    @media (max-width: 800px) {
      .searchBar{
        margin-left: 5px;
        margin-right: 5px;
    } 
    .input {
      font-size: 9px;
      width: 130px; 
      margin: 5px;
    }

    .boton{
      width: 130px;
      font-size: 10px;
    }
    } 
    
    

   
    @media (max-width: 600px){
        .searchBar{
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
      
      .boton{
        width: 80px;
        height: 15px;
        padding: 0px;
        font-size: 8px;
      }
      .input {
        font-size: 6px;
        width: 80px; 
        margin: 5px;
      }  
      
      }